src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/BBP-all-target-headers.hmap
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/BBP-generated-files.hmap
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/BBP-own-target-headers.hmap
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/BBP-project-headers.hmap
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/BBP.dep
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/BBP.hmap
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/Objects-normal/x86_64/BBP.LinkFileList
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/Objects-normal/x86_64/BBP_dependency_info.dat
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/Objects-normal/x86_64/main.d
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/Objects-normal/x86_64/main.dia
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/Objects-normal/x86_64/main.o
src/mac/BBP/Build/Intermediates/BBP.build/Debug/BBP.build/build-state.dat
src/mac/BBP/Build/Products/Debug/BBP
src/mac/BBP/DerivedData/BBP/Logs/Build/4FA48720-C0F5-433D-8DF3-40BFF0B172A0.xcactivitylog
src/mac/BBP/DerivedData/BBP/Logs/Build/Cache.db
src/mac/BBP/DerivedData/BBP/Logs/Debug/Cache.db
src/mac/BBP/DerivedData/BBP/Logs/Debug/EBCB0E28-0977-4326-B7DE-088D6641EB56.xcactivitylog
src/mac/BBP/DerivedData/BBP/Logs/Issues/Cache.db
src/mac/BBP/DerivedData/BBP/Logs/Issues/D9496B3F-9D22-408D-87E4-06B480836D92.xcactivitylog
